
/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&display=swap')
;


/* Asterisks wildcard selector to select elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3 {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(134, 86, 23);
}

.hidden-heading {
    display: none;
}
/* Header */
header {
    background-color: #f9f9f8;
    padding: 0 1rem;
    position: fixed;
    z-index: 101;
    width: 100%;
    box-shadow: 0 2px 5px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    

}

header a {
    text-decoration: none;
    color: inherit;
}

/* Menu-list */
#menu-list {
    font-size: 1rem;
    letter-spacing: 2px;
    list-style-type: none;
    text-transform: uppercase;
}

#menu-list > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}



/* Nav bar styles */
nav {
    position: absolute;
    background-color: #f9f9f8;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* Nav Switch */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*#logo {
    background-image: ;
}*/

/* Main content */
main {
    
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 46px;
    /* Enable flex properties for child element*/
    display: flex;
    flex-direction: column;
    
}
/* Meditation */
#meditation {
    height: 600px;
    width: 100%;
    background: url("../images/meditation-image.jpg") no-repeat center center/cover;
    position: relative;
}

#goals {
    width: 90%;
    margin: 20px auto;
}

#goals h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
}

#goals p {
    padding: 0 10px;
}

#goals > div {
    line-height: 20px;
    margin-bottom: 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/* Yoga Class Section*/
#times {
    background: url('../images/yoga 5.jpg')no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times > div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* This will not wrap on screen of less than 400px wide*/
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

/* Gallery page */
#gallery-photos img {
    width: 100%;
    line-height: 1em;
}

#gallery-photos {
    line-height: 0;
}

/* Contact */
#contact {
    background-image: url(../images/yoga\ 5.jpg);
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#contact-form {
    color: #ffffff;
   
    width: 100%;
    position: relative;
    padding: 10px;
    top: 50px;
    
}

#contact-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

#contact-form input[type="text"], input[type="email"] {
    width: 250px;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    height: 30px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
}

#contact-form button [type=reset] {
    color:#3a3a3a;
    border: 2px solid #3a3a3a

}

#message {
    width: 100px;
    height: 250px;
    margin: 20px auto;
    border: 2px solid #3a3a3a;
}
/* Footer */
footer { background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

#social-networks {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    list-style-type: none;
}

#social-networks a {
    font-size: 20px;
    padding: 5% 5% 0;
    color:#3a3a3a
}
/*Media query for large or landscape phones (570px and above)*/
@media screen and (min-width: 570px) {
    #gallery-photos {
        column-count: 2;
        column-gap: 0;
    }
}
    
    



/* Media Queries */
/* Tablets & larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header & Navigation */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu-list {
        display: flex;
    }

    #menu-list > li {
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }

     

    main {
        /* Push main content down to accomodate larger header*/
        margin-top: 35px;
    }
    /* Gallery */
    #gallery-photos{
        column-count: 3;
    }
    #contact {
        background-image: url(../images/yoga\ 5.jpg);
        background-size: cover;
        background-position: 75%;
        padding: 20px 10% 0 10%;
        flex-grow: 1;
    }
    #contact-form {
      color: #ffffff;
    
      
    }
}

/* Larger devices (laptops and desktops, 992px and higher) */
@media screen and (min-width: 992px) {
    #menu-list a:hover {
        border-bottom: 1px solid #3a3a3a;

    }
    /* gallery */
    #gallery-photos {
        column-count: 4;
    }

}
    
