
/* Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&display=swap')
;


/* Asterisks wildcard selector to select elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Header */
header {
    background-color: #ffffaa;
    padding: 0 1rem;
    position: fixed;
    z-index: 101;
    width: 100%;
    box-shadow: 0 2px 5px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

/* Menu-list */
#menu-list {
    font-size: 1rem;
    letter-spacing: 2px;
    list-style-type: none;
    text-transform: uppercase;
}

#menu-list > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(134, 86, 23);
}

/* Nav bar styles */
nav {
    position: absolute;
background-color: #ffffaa;
width: 100%;
left: 0;
padding: 0 1rem;
box-shadow: 0 2px 2px #3a3a3a;
display: none;
top: 100%;

}

/* Nav Switch */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*#logo {
    background-image: ;
}*/

/* Main content */
main {
    background-color: gainsboro;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 0;
}

/* Footer */
footer {
    background-color: bisque;
}


/* Media Queries */
/* Tablets & larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header & Navigation */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu-list {
        display: flex;
    }

    #menu-list > li {
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 60px;
        line-height: 75px;
        margin: 0, 0.5rem;
    }

    main {
        /* Push main content down to accomodate larger header*/
        margin-top: 79px;
    }
}

/* Larger devices (laptops and desktops, 992px and higher) */
@media screen and (min-width: 992px) {
    #menu-list a:hover {
        border-bottom: 1px solid #3a3a3a;

    }

}
    
